  header {
                        width: 100%;
                        height: 60px;
                    }

                    a {
                        text-decoration: none;
                        outline: 0;
                    }

                    .header_container {
                        width: 100%;
                        height: 60px;
                        position: fixed;
                        padding: 0;
                        margin: 0;
                        z-index: 2000;
                    }

                    .header_container .large-3 {
                        width: 30%;
                    }

                    .header_container .large-9 {
                        width: 70%;
                    }

                    .header_container #header_logo {
                        width: 30%;
                        height: 60px;
                        position: fixed;
                        padding: 0;
                        margin: 0;
                        border: none;
                        display: block;
                        box-sizing: border-box;
                    }

                    .header_container .nav_bar {
                        width: 70%;
                        height: auto;
                        float: right;
                        position: relative;
                        padding: 0;
                        margin: 0;
                        display: block;
                        box-sizing: border-box;
                        border: none;
                    }

                    .nav_menu {
                        width: 90%;
                        float: right;
                        padding: 0;
                        margin: 0;
                        border: none;
                        position: relative;
                        display: block;
                    }

                    .nav_menu ul {
                        height: 60px;
                        margin: 0;
                        border: none;
                        display: block;
                        padding: 0;
                    }

                    .nav_menu li {
                        display: inline-block;
                        text-decoration: none;
                        padding: 1.5em;
                        /* 		border:none; */
                    }

                    .nav_menu li :hover, .nav_menu li :active {
                        color: #d8d8d8
                    }

                    .nav_menu .selfiy {
                        background-color: #1acbc1;
                        box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.15);
                    }

                    .nav_menu li a {
                        font-family: 'Lato', sans-serif;
                        font-weight: 300;
                        text-align: center;
                        font-size: 15px;
                        text-decoration: none;
                        color: #fff;
                        letter-spacing: 1.5px;
                        font-stretch: ultra-expanded;
                    }
                    /* 	.nav_menu li :hover, .nav_menu li :active{
		color:#ff0000;
	} */

                    .toggle-nav-menu {
                        display: none;
                    }

                    .main_menu {
                        background-color: #404040;
                        display: block;
                        border: none;
                        z-index: 5000;
                        text-align: center;
                    }

					@media screen and (max-width: 768px) {
                        .header_container {
                            position: absolute;
                        }
                        .header_container #header_logo {
                            position: absolute;
                        }
                        .header_container .nav_bar {
                            width: 100%;
                            display: none;
                            position: relative;
                            background-color: #333333;
                        }
                        .nav_menu {
                            width: 100%;
                            display: inline-block;
                            padding: 5% 0 15% 0;
                        }
                        .nav_menu ul {
                            width: 100%;
                            height: auto;
                            left: 0;
                        }
                        .nav_menu li {
                            display: block;
                            width: 85%;
                            margin-left: 3%;
                            padding: 1.5em 1.5em 2.5em 1.5em;
                            border-bottom: 1px solid #535353;
                        }
                        .nav_menu li a {
                            float: left;
                            vertical-align: middle;
                        }
                        .toggle-nav-menu {
                            padding: 1.3% 0 0.4% 0;
                            float: right;
                            margin-right: 8%;
                            display: inline-block;
                            opacity: 0.8;
                        }
                        .nav_menu .selfiy {
                            background-color: transparent;
                            box-shadow: none;
                        }
					}